html, body {
    height: 100%;
    margin: 0;
}

h3 { 
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.title {
    text-align: center;

}

p {
    margin: 0;
}

.restaurant-hours {
    margin: 12px;
}

.hours-title, .menu-title {
    text-align: center;
}

.hours-text { 
    display: flex;
    gap: 1em;
}

.weekdays, .weekends {
    width: 75px;
}


.days {
    width: 50px;
}

#content {
    background-color: pink;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.flavors-title {
    text-align: center;
}

.ice-cream-flavors p {
    margin: 1em;
}

@media screen and (max-width: 500px) {
    img {
        width: 300px;
        height: 300px;
    }
    
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}